<div class="grid-item">
    <figure class="effect-sadie">
        <img src="<%=photo.path%>" data-id="<%=photo.ID%>" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title"> <span><strong></strong></span></h2>
            <p class="tm-figure-description">
                20%
            </p>
            <a href="<%=photo.path%>">View more</a>
        </figcaption>
    </figure>
</div>